run = "bash deploy.sh"
language = "python3"
entrypoint = "backend/app.py"

[nix]
channel = "stable-23_11"

[env]
PYTHONPATH = "${PYTHONPATH}:${workspaceFolder}/backend"
DEBUG = "false"
PORT = "5000"

[deployment]
run = ["sh", "-c", "bash deploy.sh"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5000
externalPort = 80

